{
  "extends": "atomix-react",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "document": true,
    "window": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-param-reassign":"off",
    "no-cond-assign":"off",
    "react/no-array-index-key": "off",
    "linebreak-style":"off"
  }
}