{
  "extends": "atomix-base",
  "rules": {
    "object-curly-newline": "off",
    "object-curly-spacing": "off",
    "consistent-return": "off",
    "guard-for-in":"off",
    "no-cond-assign":"off",
    "linebreak-style":"off",
    "prefer-promise-reject-errors": "off",
    "no-nested-ternary": "off"
  }
}