.controllrange .input-range__track--active {
  background: #92b5d9 !important;
}
.controllrange .input-range__track {
  background: #515151;
  height: 0.5rem;
}
.controllrange .input-range__slider {
  opacity: 0;
}
.controllrange .input-range__label {
  color: #c4c4c4;
  font-family: 'Myriad' !important;
}

.gif-compress .input-range__track--active,
.change-image .input-range__track--active {
  background: #92b5d9 !important;
}
.gif-compress .input-range__label,
.change-image .input-range__label  {
  opacity: 0
}
.gif-compress .input-range__slider,
.change-image .input-range__slider {
  background: #c8c8c8;
  border: none
}
.gif-compress .input-range__track--background,
.change-image .input-range__track--background {
  background: #515151;
}
.gif-compress .input-range,
.change-image .input-range {
  width: 130px;
}
